<html>
<head>
    <title>{{.Title}}</title>
    <link href="/static/prism.css" rel="stylesheet" />
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div>
        <h1><span class="action">Editing</span> {{.Title}}</h1>

        <form action="/save/{{.Title}}" method="POST">
        <div>
            <textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea>
        </div>
        <div>
            <input type="submit" value="Save">
        </div>
        </form>
        </div>
        <hr />
        <div class="versions">
            <h5>Alternate Versions</h5>
            <ul>
                {{$title := .Title}}
                {{$currentVersion := .Version}}
                {{range $element := .Versions}}
                    {{ if eq $element $currentVersion }}
                <li>Version {{$element}}</li>
                    {{ else }}
                <li><a href="/edit/{{$title}}/{{$element}}">Version {{$element}}</a></li>
                    {{ end }}
                {{end}}
            </ul>
        </div>
    </div>
</body>
</html>
