<html>
<head>
    <title>{{.Title}}</title>
    <meta charset="utf-8"/>
    <link href="/static/prism.css" rel="stylesheet" />
    <!-- Codemirror -->
    <link rel="stylesheet" href="/static/codemirror.css">
    <link rel="stylesheet" href="/static/dialog.css">
    <link rel="stylesheet" href="/static/pastel-on-dark.css">
    <script src="/static/codemirror.js"></script>
    <script src="/static/dialog.js"></script>
    <script src="/static/searchcursor.js"></script>
    <script src="/static/markdown.js"></script>
    <script src="/static/matchbrackets.js"></script>
    <script src="/static/vim.js"></script>

    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div>
        <h1><span class="action">Editing</span> {{.Title}}</h1>

        <form action="/save/{{.Title}}" method="POST">
        <div>
            <textarea id="code" name="code">{{printf "%s" .Body}}</textarea>
            <div style="font-size: 13px; width: 300px; height: 30px;">Key buffer: <span id="command-display"></span></div>
        </div>
        <div>
            <input type="submit" value="Save">
            <a href="/view/{{.Title}}">Cancel</a>
        </div>
        </form>
        </div>
        {{if .Versions}}
        <hr />
        <div class="versions">
            <h5>Alternate Versions</h5>
            <ul>
                {{$title := .Title}}
                {{$currentVersion := .Version}}
                {{range $element := .Versions}}
                    {{ if eq $element $currentVersion }}
                <li>Version {{$element}}</li>
                    {{ else }}
                <li><a href="/edit/{{$title}}/{{$element}}">Version {{$element}}</a></li>
                    {{ end }}
                {{end}}
            </ul>
        </div>
        {{end}}
    </div>
    <script>
      CodeMirror.commands.save = function(){ alert("Saving"); };
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        lineWrapping: true,
        mode: "text/x-markdown",
        vimMode: true,
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: "pastel-on-dark"
      });

      var charWidth = editor.defaultCharWidth(), basePadding = 4;
      editor.on("renderLine", function(cm, line, elt) {
        var off = CodeMirror.countColumn(line.text, null, cm.getOption("tabSize")) * charWidth;
        elt.style.textIndent = "-" + off + "px";
        elt.style.paddingLeft = (basePadding + off) + "px";
      });
      editor.refresh();

      var commandDisplay = document.getElementById('command-display');
      var keys = '';
      CodeMirror.on(editor, 'vim-keypress', function(key) {
        keys = keys + key;
        commandDisplay.innerHTML = keys;
      });
      CodeMirror.on(editor, 'vim-command-done', function(e) {
        keys = '';
        commandDisplay.innerHTML = keys;
      });
    </script>
</body>
</html>
