<html>
<head>
    <title>{{.Title}}</title>
    <link href="/static/prism.css" rel="stylesheet" />
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        {{if .Version}}
        <p>[<a href="/edit/{{.Title}}/{{.Version}}">edit</a>]</p>
        {{else}}
        <p>[<a href="/edit/{{.Title}}">edit</a>]</p>
        {{end}}
        <div>{{.RenderedBody}}</div>
        {{if .Versions}}
        <hr />
        <div class="versions">
            <h5>Alternate Versions</h5>
            <ul>
                {{$title := .Title}}
                {{$currentVersion := .Version}}
                {{range $element := .Versions}}
                    {{ if eq $element $currentVersion }}
                <li>Version {{$element}}</li>
                    {{ else }}
                <li><a href="/view/{{$title}}/{{$element}}">Version {{$element}}</a></li>
                    {{ end }}
                {{end}}
            </ul>
        </div>
        {{end}}
    </div>
    <script>
        var codeblocks = document.querySelectorAll('pre > code');
        for (var i = 0; i < codeblocks.length; i++) {
            codeblocks[i].classList.add('language-'+codeblocks[i].parentNode.lang);
            codeblocks[i].parentNode.classList.add('line-numbers');
        }
    </script>
    <script src="/static/prism.js"></script>
</body>
</html>
